
@{
    ViewData["Title"] = "Alumno";
    Layout = "~/Views/Shared/_LayaoutAlumno.cshtml";
}

<div class="container h-100">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-12">
            Boleta: @ViewBag.Boleta 
        </div>
        <div class="col-lg-12">
            Nombre: @ViewBag.Nombre 
        </div>
        <div class="col-lg-12">
            Correo: @ViewBag.Correo 
        </div>
        <div class="col-lg-12">
            Grupo: @ViewBag.Grupo 
        </div>
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Cambiar Contraseña
            </button>
        </div>        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form asp-action="UpdatePassAlumno" asp-controller="Config" method="post" id="frmUpdate">
            <div class="form-gruop">
                <label for="Boleta" class="form-label">Boleta: </label>
                <input class="form-control" type="text" name="Boleta" id="Boleta" value="@ViewBag.Boleta" readonly/>
            </div>
            <div class="form-gruop">
                <label for="Contra1" class="form-label" >Contraseña: </label>
                <input class="form-control" type="password" name="Pass" id="Contra1" value="" />
            </div>
            <div class="form-gruop">
                <label for="Contra2" class="form-label">Confirmar Contreaseña: </label>
                <input class="form-control" type="password" name="Pass2" id="Contra2" value="" />
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submit()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<script>
    function submit(){
        var contra1 = document.getElementById("Contra1").value;
        var contra2 = document.getElementById("Contra2").value;

        if(contra1 != "" && contra2 != ""){
            if(contra1 == contra2){
                frmUpdate.submit();
            }
        }
    }
</script>