@{
    ViewData["Title"] = "Alumnos";
    Layout = "~/Views/Shared/_LayaoutAdmin.cshtml";
}
  
<h1>Alumnos</h1>

<table id="myTable" class="table table-striped table-hover" >
    <thead >
        <tr class="thead-pantone">
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Grupo</th>
            <th>Tutoria</th>            
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody id="developers">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.IdAlumno
                </td>
                <td>
                    @item.ApellidoPat @item.ApellidoMat @item.Nombre
                </td>
                <td>
                    @item.Correo
                </td>
                <td>
                    @item.Grupo
                </td>
                <td>
                    @if (@item.Tutoria)
                    {
                       <div>SI</div> 
                    }
                    else
                    {
                       <div>NO</div> 
                    }
                </td>
                <td>
                    <button 
                    type="button" 
                    class="btn btn-primary" 
                    data-bs-toggle="modal" 
                    data-bs-target="#Editar" 
                    onclick="Modificar(@item.IdAlumno,
                                      '@item.Nombre',
                                      '@item.ApellidoPat',
                                      '@item.ApellidoMat',
                                      '@item.Correo',
                                      '@item.Grupo')"
                    
                    >
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="ModalEliminar(@item.IdAlumno)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal Editar -->
<div class="modal fade" id="Editar" tabindex="-1" aria-labelledby="Editar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Editarlabel">Editar infromacion del alumno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
        <div class="modal-body">
            <form asp-action="Alumnos" asp-controller="Administrador" method="post" id="frmEditar">
                <div class="form-group">
                    <label for="idAlumno">Id del Alumno: </label>
                    <input type="text" id="txtidAlumnoM" name="idAlumno" class="form-control" readonly />
                </div>
                <div class="form-group">                
                    <label for="Nombre">Nombre: </label>
                    <input type="text" id="txtNombre" name="Nombre" class="form-control "style="text-transform:uppercase;"/>
                </div>
                <div class="form-group">
                    <label for="ApellidoPat">Apellido Paterno: </label>
                    <input type="text" id="txtApellidoPat" name="ApellidoPat" class="form-control" style="text-transform:uppercase;"/>
                </div>
                    <div class="form-group">
                    <label for="ApellidoMat">Nombre: </label>
                <input type="text" id="txtApellidoMat" name="ApellidoMat" class="form-control" style="text-transform:uppercase;"/>
                </div>
                <div class="form-group">
                    <label for="Correo">Correo: </label>
                    <input type="text" id="txtCorreo" name="Correo" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="Grupo">Grupo: </label>
                    <input type="text" id="txtGrupo" name="Grupo" class="form-control" style="text-transform:uppercase;"/>
                </div>
            </form>
          </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="Completado()">Guardar Cambios</button>
      </div>
     
    </div>
  </div>
</div>

<form asp-action="EliminarAlumno" asp-controller="Administrador" method="post" id="frmEliminar">
    <input type="hidden" value="" id="txtidAlumno" name="idAlumno"/>
</form>

<script>
    function Modificar(idAlumnoM,Nombre,ApellidoPat,ApellidoMat,Correo,Grupo){
        console.log("Hola");
        document.getElementById("txtidAlumnoM").value = idAlumnoM;
        document.getElementById("txtNombre").value = Nombre;
        document.getElementById("txtApellidoPat").value = ApellidoPat;
        document.getElementById("txtApellidoMat").value = ApellidoMat;
        document.getElementById("txtCorreo").value = Correo;
        document.getElementById("txtGrupo").value = Grupo;
    }
    function Completado(){
        document.getElementById("frmEditar").submit();        
        swal("Good job!", "You clicked the button!", "success");
    }
    function ModalEliminar(IdAlumno){
        swal({
          title: "¿Estas Seguro?",
          text: "Una vez eliminado se necesitara registrar de nuevo el usuario",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
              document.getElementById("txtidAlumno").value = IdAlumno;
              document.getElementById("frmEliminar").submit();
            swal("Poof! El registro ha sido elimimado", {
              icon: "success",
            });
          } else {
            swal("El registro se ha salvado :3");
          }
        });
    }
</script>