
@{
    ViewData["Title"] = "Profesores";
    Layout = "~/Views/Shared/_LayaoutAdmin.cshtml";
}

<h1>Profesores</h1>


<table id="myTable" class="table table-striped table-hover">
    <thead >
        <tr class="thead-pantone">
            <th>Nombre</th>
            <th>Correo</th>
            <th>Grupo</th>
            <th>Tutoria</th>
            <th>Alta</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ApellidoPat @item.ApellidoMat @item.Nombre
                </td>
                <td>
                    @item.Correo
                </td>
                <td>
                    @item.HorasTutoria
                </td>
                <td>
                    @item.HorasTotales
                </td>
                <td>
                    @if (@item.Correo != null)
                    {
                        <div>SI</div>
                    }
                    else
                    {
                        <div>NO</div>
                    }        
                </td>
                <td>
                    <button class="btn btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
